body {
  background-color: pink;
  background-image: url("./img/bg.jpeg");
    background-repeat: no-repeat;
}
h1 {
  color: grey;
}
h2 {
  color: white;
}
h3 {
  color: grey;
}
h4 {
  color: white;
}
p {
  color: white;
}
table
 {
  background-color: grey;
  color: white;
  border-collapse: collapse;
  width: 100%;
}
td
 {
  color: white;
  width: 10%;
  align : left;
}
a
{
  color: white;
}